<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/pixel-logo-portfolio.png" />
    <link
rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <title>Dev Nunes</title>
  </head>

  <body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/foto-formal2.jpg" alt="Foto do Pedro" />

        <h1>Pedro Nunes</h1>

        <div class="social-links mt-4 text-center">
          <a target="_blank" href="https://www.linkedin.com/in/devpenunes/">
            <i class="bi bi-linkedin"></i>
          </a>

          <a target="_blank" href="https://github.com/devnunes7">
            <i class="bi bi-github"></i>
          </a>

          <a target="_blank" href="https://www.instagram.com/pedro.nunix/">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio">
              <i class="bi bi-house"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"> <i class="bi bi-person"></i> Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">
              <i class="bi bi-list-check"></i> Habilidade</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo">
              <i class="bi bi-file-earmark"></i> Curriculo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">
              <i class="bi bi-collection"></i> Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">
              <i class="bi bi-envelope"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="cow-md-5 d-flex justify-content-center flex-column p-5">
          <h2 class="text-white text-shadow">Pedro Nunes</h2>
          <span id="subtitle" class="text-white text-shadow">Desenvolvedor Web</span>
        </div>

        
        </div>
      </section>

<section class="container mt-5" id="sobre">

<div class="row w-100">
  <div class="col-md-12" data-anime="down">
    <h2 class="pt-3">Sobre</h2>
    <p>Olá! Sou Pedro Nunes, estudante de Análise e Desenvolvimento de Sistemas na FIAP e freelancer em desenvolvimento web, especializado em Front End. Trabalho com HTML, CSS, JavaScript, React e Bootstrap, criando interfaces bonitas e funcionais. Estou sempre em busca de novos desafios para crescer profissionalmente. Vamos conversar!
      </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <img class="img-fluid shadow" src="../static/img/foto-formal2.jpg" alt="foto do Pedro" data-anime="left">
  </div>

<div class="col-md-8 fw-medium">
  <h3>Dev Front-End</h3>
  <p>Meu objetivo é encontrar oportunidades de trabalho na área de Front End, onde eu possa aplicar minhas habilidades e continuar aprendendo e crescendo profissionalmente.</p>

  <div class="row mt-3 mb-3" data-anime="right">
    <div class="col-md-6">
      
      <ul class="list-group list-group-flush fs-5">
        <li class="list-group-item">
          Aniversário: <span class="fw-light">5 de Julho de 2005</span>
        </li>
        <li class="list-group-item">
          Idade: <span class="fw-light">19 anos</span>
        </li>
        <li class="list-group-item">
          Estado: <span class="fw-light">São Paulo</span>
        </li>
        <li class="list-group-item">
          Bairro: <span class="fw-light">Mooca</span>
        </li>
        
      </ul>


    </div>

<div class="col md-6">

  <ul class="list-group list-group-flush fs-5">
    <li class="list-group-item">
      Hobby: <span class="fw-light"> Vôlei</span>
    </li>
    <li class="list-group-item">
      Trabalho: <span class="fw-light"> FreeLancer</span>
    </li>
    <li class="list-group-item">
      Objetivo: <span class="fw-light"> Desenvolvedor Front-End</span>
    </li>
    <li class="list-group-item">
      Membro: <span class="fw-light">Logus Company</span>
    </li>
    
  </ul>


</div>

  </div>
  
  

</div>
</div>
</section>

  <section class="mt-5 section-bg" id="habilidades">

    <div class="container pb-5">
    <h2 class="pt-5">Habilidades</h2>
    <p>Estou constantemente aprendendo e me adaptando às novas tendências e tecnologias para entregar soluções eficientes e inovadoras.
    </p>

<div class="row">
  <div class="col-md-6">
    <p class="mt-3 mb-0">HTML</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">CSS</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">JavaScript</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 40%">40%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Python</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 35%">35%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Git</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Bootstrap</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">ReactJs</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 15%">15%</div>
    </div>
  </div>


  <div class="col-md-6">
    <p class="mt-3 mb-0">Scrum</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
    </div>
  </div>

  <div class="col md-6">


  </div>
</div>

<hr class="w-50 me-auto ms-auto">


<div class="row">

  <div class="col-md-6">
    <p class="mt-3 mb-0">Trabalho em equipe</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Proatividade</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 100%">100%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Orientação a detalhes</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
    </div>
  </div>

  <div class="col-md-6">
    <p class="mt-3 mb-0">Comunicação</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 100%">100%</div>
    </div>
  </div>
 
  <div class="col-md-6">
    <p class="mt-3 mb-0">Organizado</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 90%">90%</div>
    </div>
  </div>

  <div class="col-md-6">

    <p class="mt-3 mb-0">Pontualidade</p>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" data-anime="left" style="width: 100%">100%</div>
    </div>
  </div>
 

  
 

</div>

</div>


    </div>

  </section>

<section class="mt-5 cv" id="curriculo">
<div class="container pb-5">
  <h2 class="pt-3 pb-4">Currículo</h2>
  <div class="row">
    <div class="col-md-6">
      <h3 class="cv-title">Educação</h3>

      <div class="cv-item" data-anime="up">
        <h4> Ánalise e desenvolvimento de Sistemas </h4>
        <h5>2024-2025</h5>
        <p><em>FIAP</em></p>
        <p>Curso Tecnólogo voltado em Ánalise de sistemas, banco de dados e desenvolvimento Web .</p>
      </div>

      <div class="cv-item" data-anime="up">

  <h4> Curso de informática</h4>
  <h5>2018-2020</h5>
  <p><em>StartPro</em></p>
  <p>Manutenção de Computadores ,técnicas de montagem, configuração e manutenção de hardware, diagnóstico e resolução de problemas técnicos, fundamentos da Informática, introdução aos conceitos básicos de hardware e software, sistemas operacionais, e arquitetura de computadores.</p>

      </div>
      
      <div class="cv-item" data-anime="up">
     
  <h4> Curso de Inglês</h4>
  <h5>2019-2020</h5>
  <p><em>StartPro</em></p>
  <p>Curso Intermediário de Inglês.</p>

    </div>

    </div>


    <div class="col-md-6">
<h3 class="cv-title">Profisional</h3>

 <div class="cv-item" data-anime="up">
  <h4> FreeLancer</h4>
  <h5>2024</h5>
  <p><em>Logus Company</em></p>
  <p>Empresa que sou sócio.</p>
 </div>

<div class="cv-item" data-anime="up">

  <h4> ZN DISTRIBUIDORA </h4>
  <h5>Cargo atual</h5>
  <p><em>Classe A</em></p>
  <p>Gestão de estoque e reposição de mercadorias.
    Análise de custos e realização de compras de produtos de segurança eletrônica.
    Utilização de sistemas de gerenciamento de estoque.
    </p>

</div>

<div class="cv-item" data-anime="up">
 
  <h4> HIROTA FOOD</h4>
  <h5>2023-2024</h5>
  <p><em>Super Mercados Hirota</em></p>
  <p>Atendimento ao cliente e suporte ao funcionamento da loja.
    Desenvolvimento de habilidades de comunicação e trabalho em equipe.
    </p>

</div>

    </div>
  </div>

</div>
</section>

<section id="portfolio" class="section-bg mt-5">
  <div class="container pb-5 pt-5" data-anime="left">
    <h2 class="pb-4">Portfólio</h2>
    <div id="carouselPortfolio" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
        
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="Site Logus">
                <div class="card-body">
                  <h5 class="card-title">Logus Company</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Em breve</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Em breve</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
         
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Em breve</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Em breve</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../static/img/home-logus.png" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Em breve</h5>
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-center">
                    <a href="https://loguscompany.com.br/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
          </div>

        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</section>

<section class="pt-5 pb-5" id="contato">
  <div class="container mb-5">
    <h2 class="pt-3 pb-3">Contato</h2>

    <div class="row">
      <div class="col-md-5">
      <div class="card p-5 shadow border-0" data-anime="up">
<div class="endereço">
  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
  <p>São Paulo</p>
</div>

<div class="email">
  <h4><i class="bi bi-envelope"></i> Email:</h4>
  <p>dev.penunes@gmail.com</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10343.096327336583!2d-46.58389986630363!3d-23.57430503173654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5944544318af%3A0x69468e8f7a2f29d6!2sMooca%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1719460886450!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

      </div>


      </div>

      <div class="col-md-7 mt-5 mt-md-0">
 <div class="card p-5 h-100 shadow border-0" data-anime="left">

  <form class="row g-3" action="/send" method="POST">
    <div class="col-md-6">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
    </div>
    
    <div class="col-12">
      <label for="mensagem" class="form-label">Mensagem:</label>
      <textarea type="text" class="form-control" id="mensagem" name="mensagem" placeholder="Digite sua mensagem" rows="10" required></textarea>
    </div>
    

    <div class="col-12 d-flex justify-content-center mt-4">
      <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar mensagem
      </button>
      
      <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Enviando...</span>
      </button>

    </div>

    
  </form>

 </div>
      </div>

    </div>
  </div>

</section>


    </main>


    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Devnunes</strong>
        </div>
      </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
